@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,700;1,500;1,700&family=Sora:wght@300;400;700&display=swap');

body {
  padding: 0;
  margin: 0;
  background-color: black;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Andada Pro', serif;
}
.hero-image {
  background-image: url("./imgs/hero2.jpeg");
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
h1 {
  font-family: 'Sora', sans-serif;
}
h2{
  font-family: 'Andada Pro', serif;
}
@media (max-width: 780px) {
    .hero-image {
        min-height: 320px;
    }
    .hero-text {
        font-size: 18pt;
    }
}

@media (max-width: 540px) {
    .hero-image {
        min-height: 270px;
    }
    .hero-text {
        font-size: 14pt;
        margin: 0;
        margin-top: 40px;
    }
}
